packages:
  yum:
    git: []
    postgresql95-devel: []

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "iotodolists.settings"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: iotodolists/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "iotodolists/static/"

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_createadmin:
    command: "python manage.py createsuperuser --username admin --email nurek95@gmail.com"