packages:
  yum:
    git: []
    postgresql95-devel: []

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "iotodolists.settings"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: iotodolists/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "iotodolists/static/"

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_generatedocs:
    command: "pycco superlists/*.py"
  04_uploaddocs:
    command: "aws s3 cp docs/ s3://elasticbeanstalk-eu-central-1-308032922036/docs/ --recursive --grants read=uri=http://acs.amazonaws.com/groups/global/AllUsers --region eu-central-1"