body {
    background-color: white;
}

.navbar {
    background-color: #023E86;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-form {
    border: 0;
}

.logo {
    max-height: 50px;
}

.form-control {
    margin: 3px 0;
}

.jumbotron {
    background-color: #023E86;
    color: white;
    text-align: center;
}

.list_name {
    color: white;
    background-color: #023E86;
    height: 50px;
}

.add-element {
    background-color: #023E86;
}

.log_button {
    color: black;
}

.list-group-item {
    color: initial;
}