{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="container text-center">
        <h3>Sign up</h3>
        <h4>Please fill out this form and register to Superlists!</h4>
    </div>
    <div class="container text-center">
        <div class="col-xs-4"></div>
        <form action="" method="post" class="col-xs-4">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {% render_field field class="form-control" %}
                    <p class="small">{{ field.errors }}</p>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-warning btn-lg">Sign Up</button>
        </form>
        <div class="col-xs-4"></div>
    </div>
{% endblock %}