{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="jumbotron text-center">
        <h2>Hello, <b>{{user.username}}</b>!</h2>
        {% if object_list %}
            <h3>Your lists:</h3>
        {% endif %}
    </div>
    <div class="container text-center">
        {% if object_list %}
        <ul class="list-group">
            {% for todo_list in todo_lists %}
            <li class="list-group-item">
                <a href="{% url 'list' todo_list.id %}">{{ todo_list.name }}, {{ todo_list.creation_date }}</a>
                <a href={% url 'delete_list' todo_list.id %}>Delete</span></a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No lists are available.</p>
        {% endif %}
    </div>
{% endblock %}