{% extends "base.html" %}
{% load widget_tweaks %}


{% block content %}

    <form class="jumbotron" action="{% url 'create_todo_list' %}" method="post">
        {% csrf_token %}
        <h1>Start a new TO-DO list!</h1>
        <p>{{ form.name|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:Name your new list" }}</p>
        <div class="form-group-inline">
            <label class="form-check-label">
                {{ form.is_private|attr:"type:checkbox" }}
                Private?
            </label>
        </div>
    </form>

    <div class="jumbotron">
        {% if object_list %}
            <ul class="list-group">
                {% for todo_list in object_list %}
                    <li class="list-group-item">
                        <a href="{% url 'detail' todo_list.id %}">{{ todo_list.name }}, {{ todo_list.creation_date }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No lists are available.</p>
        {% endif %}
    </div>

{% endblock %}