{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Super Lists</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container">
        <a href="{% url 'index' %}"><img class="logo" src="{% static 'img/logo_black.svg' %}"></a>
        {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'logout' %}">
                        <button type="button" class="btn btn-warning">
                            <span class="glyphicon glyphicon-log-out"></span> Log out
                        </button>
                    </a>
                </li>
                <li>
                    <a href="{% url 'user' %}">
                        <button type="button" class="btn btn-warning">
                            <span class="glyphicon glyphicon-user"></span> {{user.username}}
                        </button>
                    </a>
                </li>
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form method="post" action="{% url 'login' %}" class="navbar-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="username">
                            <input type="password" name="password" class="form-control" placeholder="password">
                        </div>
                        <button type="submit" class="btn btn-warning">
                            <span class="glyphicon glyphicon-log-out"></span> Log in
                        </button>
                        <a href="{% url 'register' %}">
                        <button type="button" class="btn btn-warning">
                            <span class="glyphicon glyphicon-user"></span> Sign up
                        </button>
                        </a>
                    </form>
                </li>
                <li>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
{% if messages %} {% for message in messages %}
    <div class="alert alert-warning">
        {{message}}
    </div>
{% endfor %} {% endif %}
<div class="container">
    {% block content %} {% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>